

body {
	background-color:black;
	color:white;
	margin: auto;
	font-family: 'VT323', monospace;
	
	text-align:center;
	
	}
header {
	
	padding: 5px;
	text-align:center;
	
	
}


#ellipses {
	
	margin: 0;
	display: flex;
	/* This centers our sketch horizontally. */
    justify-content: center;

  /* This centers our sketch vertically. */
     align-items: center;
}

footer{
	
	background-color : green;
	margin:auto;
	max-width:600px;
	
}
footer p {
	text-align: right;
	padding:5px;
}

picture {
	max-width: 600px;
}
